NavLink > button {
    border-radius: 0px 0px 0px 0px;
    background-color: #006699;
    font-size: 15px;
    border: none;
}

.button {
    background-color: transparent;
    transform: translateX(38px);
    font-size: 20px;
    color: white;
    border: none;

}

.button:hover{
    background: linear-gradient(to bottom right, #006699, #0099cc);
    cursor: pointer;
}

.NavLink {
    transform: translateX(38px);
    font-size: 25px;
    color: white;
    border-bottom: none;
    background: black;

}

