.Search {
    width: 350px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 4px 8px 0px #cccccc;
    background-color: white;
}

.SearchText {
    width: 60%;
    padding: 6px;
    border: none;
    margin-top: 6px;
    margin-right: 6px;
    font-size: 17px;
    border-radius: 5px 5px 5px 5px;
}

.SearchSelect {
    width: 35%;
    padding: 6px;
    margin-right: 10px;
}

@media (max-width: 500px) {
    .Search {
        width: 200px;
    }
    .SearchSelect {
        width: 55%
    }
}