.AFA {
    position: absolute;
    right: -90%;
    transition: 0.3s;
    transform: translateY(38%);
    width: 100%;
}
.AFA:hover {
    right: -85%;
    cursor: pointer;
}

.AFAOpened {
    position: absolute;
    right: -44%;
    transition: 0.3s;
    transform: translateY(38%);
    width: 100%;
}

.ButtonWrap {

}

.Button {
    width: 280px;
    height: 60px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px 5px 0px 0px;
    background-color: #007bff;
    transform: rotate(270deg);
    cursor: pointer;
    z-index: 200;
    margin: 0;
}

.Button:hover {
    background-color: #376ec6;
}

.Text {
    transform: translateY(-10%);
}

.Table {
    transform: translateY(-73%) translateX(150px);
    z-index: 100;
}