.Table {
    margin-top: 0px;
    width: 96%;
    box-shadow: none;
    border: none;
    margin-left:auto;
    margin-right:auto;
}

.TableHeader {
    box-shadow: none;
    border: 2px solid white;
}

.TableHeader th {
    color: white;
    text-decoration: none;
    font-weight: 400;
    background-color: #006699;
}

.TableBody {
    background-color: white;
}

.TableTr:hover{
    background-color: lightgray;
}

.Selected {
    background-color: darkgray;
}

.Selected:hover {
    background-color: gray;
}