.Navigation {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-flow: column;
    overflow: hidden;
    display: inline-block;
}

.Toolbar {
    height: 49px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #006699;
    padding: 0px 0px;
    box-sizing: border-box;
    z-index: 90;
    margin-top: 48px;
}