.Navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
}

.Toolbar {
    height: 49px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 0px;
    box-sizing: border-box;
    z-index: 90;
    margin-top: 48px;
}

.Toolbar NavigationItem {
    height: 100%;
}