.btnGroup {
    width: 20%;
    height: 345px;
    box-shadow: 0 8px 16px 0 #cccccc;
    border-radius: 5px;
    align-content: center;
    padding: 43px 10px;
    margin: 4.3% 3% 4.3% 0%;
    background-color: white;
    transform: translateY(-20px);
}

.btnGroup button {
    background-color: #007bff; /* Green background */
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 24px;
    margin: 30px auto;
    cursor: pointer; /* Pointer/hand icon */
    width: 75%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btnGroup button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btnGroup button:hover {
    background-color: #376ec6;
}