.btnGroup {
    width: 20%;
    height: 345px;
    box-shadow: 0 8px 16px 0 #999;
    border-radius: 5px;
    align-content: center;
    padding: 43px 10px;
    margin: 4.3% 3% 4.3% 0;
    background-color: #66b3cc;
    transform: translateY(-20px);
}

.btnGroup button {
    background-color: #006699;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 24px;
    margin: 30px auto;
    cursor: pointer; /* Pointer/hand icon */
    width: 75%; /* Set a width if needed */
    display: block;
}

.btnGroup button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btnGroup button:hover {
    background-color: #0066;
}